@keyframes colorfade {
  0% {
    fill: #5B6666; stroke: #5B6666;
  }
  25% {
    fill: #0071BC; stroke: #0071BC;
  }
  50% {fill: #BA9600; stroke: #BA9600;
  }
  75% {
    fill: #E05C46; stroke: #E05C46;
  }
  100% {
    fill: #5B6666; stroke: #5B6666;
  }
}
