* {
  box-sizing: border-box;
}

html {
  background: $green;
  font-family: $inter;
  color: #212738;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.38;
  background-color: white;
  @media all and (min-width: 769px) {
    background-color: transparent;
    @include background-svg('<svg preserveAspectRatio="none" viewBox="0 0 1532 2722" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M45.0757 1473.39C45.0757 1473.39 -41.307 926.032 25.0933 758.666C28.812 749.293 25.0933 664 25.0933 664C35.5931 641.629 -24.3979 435.681 45.0757 314C321 -37.5 381.375 72.2594 488.09 17.8755C537.942 -7.52949 598.699 -1.88208 718.167 10.4242C1015.44 41.0721 1200.72 60.1722 1343.08 230.05C1496.93 413.651 1525.39 683.513 1530.56 825.66C1541.22 976.353 1454.76 1202.45 1435.5 1473.39C1406.99 1874.61 1474.2 2266.38 1310.51 2498.34C990.549 2951.77 247.361 2658.87 94.2825 2127.47C39.7383 1938.12 112.373 1899.82 45.0757 1473.39Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: center 80px;
    background-size: 108% auto;
    background-position: center 154px;
  }
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   > a {
     flex-grow: 1;
   }
   a.h3 {
     font-weight: 900;
   }
}

#logo {
  display: block;
  margin: 0 auto 1em -10px;
  max-width: 320px;
  width: 80%;
}

#top-ink * {
  animation: colorfade 16s ease infinite;
}

header {
  @include background-svg('<svg viewBox="0 0 1164 585" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1111.06 0C1152.47 70.9891 1198.4 184.619 1125.93 283.779C1115.21 298.47 1114.1 296.091 1049.46 356.202C879.397 514.32 859.47 556.31 779.656 577.904C742.373 587.984 696.932 585.752 607.58 580.86C385.239 568.696 246.686 561.114 140.211 493.657C25.1529 420.761 3.86642 313.605 0 257.175V0" fill="#FEE3E2"/></svg>');
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  box-sizing: content-box;
  padding: 10px 0;
  width: 100%;
  @media all and (min-width: 769px) {
    padding: 28px 0 0 0;
  }
  h1 {
    max-width: 1140px;
    margin: 18px auto;
    position: relative;
    width: 100%;
    .intro {
      color: $blue-dark;
    }
    @media all and (min-width: 769px) {
      margin: 24px auto;
    }
  }
}

#logo {
  margin: 0 auto;
}

header, article, footer .inner {
  margin: 0 auto;
  max-width: 928px;
  width: 92%;
}

article section {
  padding: 16px 0;
}

@media all and (min-width: 960px) {
  article section {
    padding: 52px 0;
  }
}

section#contact {
  background: $blue-dark;
  color: $almost-white;
  padding: 60px 10%;
  a {
    color: $almost-white;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  h2 {
    color: $almost-white;
    font-size: 28px;
  }
  @media all and (min-width: 769px) {
    display: flex;
    div.form {
      padding-right: 60px;
      width: 65%;
    }
    div.description {
      margin: -60px -10% -60px 0;
      width: 55%;
    }
  }
  .form {
    h2 {
      margin-top: 0;
    }
    label {
      color: #F6FCFE;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.125;
      margin: .4em 0;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    input[type=text], input[type=email], label, textarea {
      display: block;
      width: 100%;
    }
    input[type=text], input[type=email], textarea {
      background: #F6FCFE;
      border: none;
      border-radius: 3px;
      margin-bottom: 16px;
    }
    input[type=text], input[type=email] {
      height: 22px;
      padding: 20px 4px;
    }
  }
  div.description {
    background: lighten($blue-dark, 5%);
    padding: 40px;
  }
}

.works {
  &__work {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
    padding: 20px;
    position: relative;
    .portfolio-image, .portfolio-teaser {
      z-index: 1;
    }
    .portfolio-image {
      max-width: 50%;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .portfolio-teaser {
      padding-right: 20px;
    }
    p {
      margin: 0;
    }
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 60px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
    }
    &.blue {
      background-color: #E0F4FA;
      &:after {
        background-color: #D3EFF8;
      }
    }
    &.green {
      background-color: #F8F9E2;
      &:after {
        background-color: #EBEDB0;
      }
    }
    &.pink {
      background-color: #FEF1F0;
      &:after {
        background-color: #FEE3E2;
      }
    }
  }
}

.service-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .service {
    padding: 0 16px;
    margin-top: 32px;
    width: 50%;
    svg {
      height: 90px;
      width: auto;
    }
    @media all and (min-width: 769px) {
      width: 25%;
    }
  }
}

.service-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  height: 16px;
  margin: 0 2px;
  position: relative;
  top: 3px;
  width: 20px;
  &.pm {
    @include background-svg('<svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.7744 5.58846C16.5751 5.48539 16.3277 5.56785 16.2246 5.774C16.0872 6.06261 15.9291 6.34434 15.7505 6.60546C15.5375 4.01486 13.8814 1.74035 11.442 0.750834C7.89621 -0.678465 3.86255 1.03257 2.43325 4.57833C2.43325 4.57833 2.43325 4.57833 2.43325 4.5852C2.35079 4.79135 2.45388 5.03186 2.66003 5.11432C2.86617 5.19678 3.10667 5.09371 3.18913 4.88756C4.12367 2.57869 6.36383 1.06006 8.85823 1.06693C12.1291 1.06693 14.7885 3.64379 14.9465 6.87346C14.6235 6.63295 14.3074 6.37183 14.0257 6.07635C13.8677 5.92517 13.6203 5.92517 13.4622 6.07635C13.2973 6.2344 13.2973 6.48865 13.4554 6.65357C14.0669 7.26514 14.8984 7.99353 15.3725 7.99353C15.5375 7.99353 16.0322 7.99353 16.9599 6.13819C17.0561 5.93204 16.9736 5.69154 16.7744 5.58846Z" fill="#212738"/>
    <path d="M15.1046 9.47783C14.8915 9.40225 14.6579 9.50532 14.5823 9.71834C13.6959 12.1165 11.4076 13.7039 8.85138 13.7039C5.58049 13.7039 2.92115 11.127 2.76311 7.89736C3.08607 8.13787 3.40217 8.39899 3.6839 8.69447C3.84195 8.84564 4.08933 8.84564 4.24738 8.69447C4.4123 8.53642 4.41231 8.28217 4.25426 8.11725C3.64269 7.50568 2.81121 6.77728 2.33707 6.77728C2.17215 6.77728 1.67739 6.77728 0.749724 8.63262C0.722238 8.6876 0.708496 8.74944 0.708496 8.81129C0.708496 9.03805 0.894028 9.21671 1.11392 9.21671C1.2651 9.21671 1.4094 9.12738 1.47812 8.98995C1.61555 8.69447 1.7736 8.4196 1.95914 8.15161C2.24775 11.7111 5.22316 14.5079 8.85138 14.5079C11.7443 14.501 14.3281 12.7075 15.3451 10.0001C15.4275 9.78706 15.3176 9.55342 15.1046 9.47783Z" fill="#212738"/>
    </svg>');
  }
  &.code {
    @include background-svg('<svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.77251 10.3L0.2625 5.79C-0.0875 5.44 -0.0875 4.87 0.2625 4.51L4.77251 0L6.05251 1.28L2.1825 5.15L6.05251 9.02L4.77251 10.3Z" fill="#212738"/>
    <path d="M15.0725 10.3L13.7925 9.02L17.6625 5.15L13.7925 1.28L15.0725 0L19.5825 4.51C19.9325 4.86 19.9325 5.43 19.5825 5.79L15.0725 10.3Z" fill="#212738"/>
    <path d="M10.8969 0.31147L7.28979 9.33746L8.96127 10.0054L12.5684 0.97945L10.8969 0.31147Z" fill="#212738"/>
    </svg>');
  }
  &.design {
    @include background-svg('<svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17.5774 10.64C16.6815 9.86695 15.6556 9.24564 14.5503 8.81939L15.1571 8.2053C15.988 7.37447 15.988 6.0307 15.1571 5.19988L14.8465 4.88922L15.1571 4.57857C15.3233 4.4124 15.3233 4.15232 15.1571 3.98615L13.9506 2.77965C13.7845 2.61349 13.5244 2.61349 13.3582 2.77965L13.0476 3.09031L10.3311 0.373871C9.83263 -0.124624 9.0307 -0.124624 8.53221 0.373871L8.48886 0.417219H2.08067C0.931969 0.417219 0 1.34919 0 2.49789V3.74774C0 4.4413 0.556291 4.99759 1.24985 4.99759H1.87116C1.98675 4.99759 2.08067 5.09151 2.08067 5.2071C2.08067 5.3227 1.98675 5.41662 1.87116 5.41662H1.66887C0.74413 5.41662 0 6.16075 0 7.07827C0 7.99579 0.74413 8.74714 1.66887 8.74714H5.45455L6.42986 9.72246L6.1192 10.0331C5.95304 10.1993 5.95304 10.4594 6.1192 10.6255L7.32571 11.832C7.49187 11.9982 7.75196 11.9982 7.91812 11.832L8.22878 11.5214L8.53943 11.832C9.37026 12.6629 10.714 12.6629 11.5449 11.832L12.1517 11.2252C12.578 12.3305 13.1993 13.3564 13.9723 14.2523C14.9693 15.2492 16.5876 15.2492 17.5774 14.2523C18.5744 13.248 18.5744 11.637 17.5774 10.64ZM7.93257 3.37929C8.09873 3.55268 8.09151 3.83444 7.91812 4.0006C7.75196 4.15954 7.48465 4.15954 7.31126 4.0006L6.69717 3.38651L7.08007 3.00361L7.60746 2.47622L8.38049 1.70319L8.51776 1.56592L9.73149 2.77965C9.90488 2.95304 9.90488 3.22757 9.73149 3.40096C9.5581 3.57435 9.28356 3.57435 9.11017 3.40096L8.50331 2.7941C8.34437 2.62794 8.07706 2.62071 7.9109 2.78688C7.74473 2.94582 7.73751 3.21312 7.90367 3.37929C7.92534 3.37206 7.92534 3.37206 7.93257 3.37929ZM1.66887 7.91632C1.2065 7.91632 0.838049 7.54064 0.838049 7.08549C0.838049 6.62312 1.21373 6.25467 1.66887 6.25467H1.87839C2.45635 6.25467 2.91872 5.78507 2.91872 5.21433C2.91872 4.63636 2.44913 4.17399 1.87839 4.17399H1.24985C1.01866 4.17399 0.830825 3.98615 0.830825 3.75497V2.92414H3.74955V2.09332H0.910295C1.08368 1.59482 1.55328 1.26249 2.08067 1.26249H7.65804L5.81577 3.09031L3.69898 5.2071C3.20048 5.7056 3.20048 6.50752 3.69898 7.00602L4.60927 7.91632H1.66887ZM5.83022 7.94521V7.90909H5.7941L4.29139 6.41361C4.118 6.24022 4.118 5.96568 4.29139 5.79229L4.60205 5.48164L5.51234 6.39193L6.10476 5.79952L5.19446 4.89645L6.11198 3.97893L6.72607 4.59302C7.22456 5.09151 8.02649 5.09151 8.52498 4.59302C8.64058 4.47742 8.7345 4.34016 8.79952 4.18844C9.40638 4.54244 10.1866 4.34016 10.5406 3.74052C10.8368 3.24202 10.7501 2.60626 10.3383 2.19446L9.12462 0.980735L9.13185 0.97351C9.30524 0.80012 9.57977 0.80012 9.75316 0.97351L12.4768 3.69717L7.02227 9.14449L5.83022 7.94521ZM7.0006 10.3293L13.6616 3.66827L14.283 4.28958L7.62914 10.9434L7.0006 10.3293ZM16.9922 13.6598C16.3203 14.3317 15.2366 14.3317 14.5647 13.6598C13.7411 12.6918 13.1198 11.5647 12.7441 10.3438C12.6863 10.1198 12.4624 9.98254 12.2384 10.0403C12.1662 10.062 12.1011 10.0981 12.0433 10.1487L10.9524 11.2396C10.4467 11.7453 9.63034 11.7453 9.12462 11.2396L8.81397 10.929L14.2613 5.48164L14.5719 5.79229C15.0777 6.29801 15.0777 7.11439 14.5719 7.62011L13.481 8.71102C13.3149 8.87718 13.3221 9.13727 13.481 9.30343C13.5316 9.354 13.5966 9.39735 13.6761 9.4118C14.8898 9.78748 16.0241 10.4088 16.9922 11.2324C17.6568 11.897 17.6568 12.988 16.9922 13.6598Z" fill="#212738"/>
    <path d="M15.1788 11.8465C14.8465 12.1788 14.8465 12.7134 15.1788 13.0385C15.5111 13.3709 16.0458 13.3709 16.3709 13.0385C16.696 12.7062 16.7032 12.1716 16.3709 11.8465C16.0385 11.5141 15.5039 11.5141 15.1788 11.8465Z" fill="#212738"/>
    <path d="M6.40233 6.11026L5.81494 6.69781L6.41783 7.30053L7.00522 6.71297L6.40233 6.11026Z" fill="#212738"/>
    <path d="M5.41127 2.08612H4.58044V2.91695H5.41127V2.08612Z" fill="#212738"/>
    </svg>');
  }
  &.cms {
    @include background-svg('<svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.76258 5.76864C8.41479 5.57694 8.00655 5.5267 7.65121 5.65523V5.62499C7.65121 5.17136 7.43948 4.71773 7.0539 4.48335C6.70612 4.27166 6.29787 4.24142 5.94253 4.36995V3.90876C5.94253 3.45513 5.73081 3.0015 5.34522 2.76712C4.99744 2.55543 4.5892 2.52519 4.23385 2.65372V2.21521C4.23385 1.51964 3.71219 0.892124 3.01663 0.854321C2.2757 0.816519 1.66327 1.40624 1.66327 2.1396V3.85583C1.66327 4.09021 1.85229 4.28678 2.09422 4.28678C2.33616 4.28678 2.52518 4.09777 2.52518 3.85583V2.14716C2.52518 1.91279 2.71419 1.71622 2.95613 1.71622C3.19806 1.71622 3.38708 1.90523 3.38708 2.14716V5.57962C3.38708 5.814 3.5761 6.01057 3.81804 6.01057C4.05241 6.01057 4.24899 5.82156 4.24899 5.57962V3.85583C4.24899 3.62146 4.43801 3.42489 4.67994 3.42489C4.92188 3.42489 5.11085 3.6139 5.11085 3.85583V7.28829C5.11085 7.52267 5.29987 7.71924 5.5418 7.71924C5.78374 7.71924 5.97275 7.53023 5.97275 7.28829V5.57206C5.97275 5.33769 6.16177 5.14112 6.40371 5.14112C6.64564 5.14112 6.83466 5.33013 6.83466 5.57206V8.57358C6.83466 8.80795 7.02368 9.00452 7.26561 9.00452C7.49999 9.00452 7.69657 8.81551 7.69657 8.57358V6.85735C7.69657 6.62297 7.88558 6.4264 8.12752 6.4264C8.36946 6.4264 8.55843 6.61541 8.55843 6.85735V8.9138C8.39966 9.29182 7.67388 10.9778 6.97831 11.6809C6.89515 11.7641 6.84223 11.8775 6.84223 11.9985V12.8604H2.98635V12.006C2.98635 11.8397 2.89563 11.6961 2.75198 11.6205C2.01105 11.2953 1.35332 10.7964 0.846771 10.1688V6.00301C0.846771 5.76864 1.03579 5.57206 1.27772 5.57206C1.51966 5.57206 1.70863 5.76108 1.70863 6.00301V7.71924C1.70863 7.95362 1.89765 8.15019 2.13958 8.15019C2.38152 8.15019 2.57054 7.96118 2.57054 7.71924V6.07862C2.57054 5.38305 2.04887 4.75553 1.35331 4.71773C0.612383 4.67993 0 5.26964 0 6.00301V10.2898C0 10.3578 0.0151191 10.4183 0.0453611 10.4788C0.090724 10.5771 0.544329 11.4088 2.14715 12.2631V12.8604H1.7162C1.23989 12.8604 0.86186 13.246 0.86186 13.7147V14.769C0.86186 14.8034 1.05088 15 1.29281 15C1.53475 15 1.72377 14.811 1.72377 14.769V13.7147H7.72679V14.769C7.72679 14.8034 7.91581 15 8.15775 15C8.39968 15 8.5887 14.811 8.5887 14.769V13.7147C8.5887 13.2384 8.20311 12.8604 7.73436 12.8604V12.1724C8.59626 11.2046 9.38253 9.24646 9.42033 9.16329C9.44302 9.11037 9.4506 9.05745 9.4506 9.00452V6.91027C9.35988 6.44908 9.14816 6.00301 8.76258 5.76864Z" fill="#212738"/>
    <path d="M16.2247 1.28528C16.2247 0.574597 15.6501 0 14.9394 0H5.50395C5.26958 0 5.073 0.189012 5.073 0.430948C5.073 0.672883 5.26202 0.861895 5.50395 0.861895H14.9394C15.1738 0.861895 15.3704 1.05091 15.3704 1.29284V5.57964C15.3704 5.81401 15.1814 6.01058 14.9394 6.01058H10.6526C10.4183 6.01058 10.2217 6.1996 10.2217 6.44153C10.2217 6.67591 10.4107 6.87248 10.6526 6.87248H14.9394C15.6501 6.87248 16.2247 6.29788 16.2247 5.5872V1.28528Z" fill="#212738"/>
    </svg>');
  }
}

footer {
  background: $pink;
  padding: 32px 0;
  .inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    > div {
      flex-grow: 1;
    }
    .links {
      text-align: right;
    }
  }
}
