a, a:link, a:visited {
  color: $blue-dark;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a.button, input[type=submit] {
  background: $blue-dark;
  border-radius: 30px;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 16px 62px;
  letter-spacing: 1px;
  text-transform: uppercase;
  &:hover {
    background: lighten($blue-dark, 5%);
    text-decoration: none;
  }
}

h1, .h1 {
  font-family: $inter-display;
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  margin: 12px 0;
  @media all and (min-width: 768px) {
    font-size: 48px;
    line-height: 56px;
  }
}

h2, .h2 {
  color: $blue-dark;
  font-family: $inter-display;
  font-size: 38px;
  font-weight: 900;
  margin: .625em 0 .25em 0;
}

section > h2:first-of-type {
  margin-top: 0;
}

h2+p, h2+ul {
  margin-top: 0;
}

h3, .h3 {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.125;
  margin: .4em 0;
  text-transform: uppercase;
  @media all and (min-width: 769px) {
    font-size: 16px;
  }
}

ul {
  padding-left: 18px;
  li {
    padding-left: 12px;
    margin-bottom: 8px;
  }
}
