.hidden {
  display: none;
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.big {
  font-size: 21px;
  line-height: 144%;
}

.wide-row {
  @media all and (min-width: 1080px) {
    margin: 0 -10%;
    width: 120%;
  }
}
