$green: #D1D646;
$pink: #FEE3E2;
$blue-dark: #1E6D85;
$blue-light: #57C4E5;
$almost-white: #F6FCFE;

$inter: 'Inter', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$inter-display: 'InterDisplay',"HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
